src/virt_env
reference/
src/*Eplus-env-run*
src/*Eplus-env*run*
src/core/eplus-env/eplus_env/envs/EnergyPlus-8-6-0
src/core/eplus-env/eplus_env/envs/*output*
src/*-res
midway/
proposal/
src/*res
src/a3c-eval/
src/*-eval/

*.swp
*.pyc
*.py~
.DS_Store
