src/virt_env
reference/
src/*Eplus-env-run*/
src/*Eplus-env*run*/
**/EnergyPlus-8-*/
**/*output*/
midway/
proposal/
src/a3c-eval/
src/*-eval/
**/*.ipynb_checkpoints*
src/*case*
src/core/eplus-env/eplus_env/envs/v1-*
**/*Res*/
**/*res*/

*.swp
*.pyc
*.py~
.DS_Store
